@media (max-width: $ff_until-medium) {
  .app-download {
    position: absolute;
    top: 721px;
    left: 0;
    width: 100%;
    padding: 28px 0 16px;
    background-color: #17212D;
  }

  .app-download__btn-download {
    @include btnGrand($c_white, $c_white);
    @include v-spacing(34px);
    @include h-spacing();
    width: $align_small-fields;

    &:hover {
      @include btnGrand($c_red, $c_white, $c_white);
    }

    &:active {
      @include btnGrand(rgba(210, 40, 86, 0.3), $c_white, $c_white);
    }

    &:disabled {
      @include btnGrand($c_white, $c_darkGray1, $c_darkGray1);
    }
  }

  .app-download__list {
    @include flex();
    @include resetSize();
    @include v-spacing(21px);
    @include h-spacing();
    width: 209px;
    list-style: none;
  }

  .app-download__link {
    display: block;
  }

  .app-download__link.apple {
    width: 47px;
    height: 56px;
    background: url('../../img/logo-apple.svg') no-repeat;
  }

  .app-download__link.android {
    width: 43px;
    height: 47px;
    background: url('../../img/logo-android.svg') no-repeat;
  }

  .app-download__link.windows {
    width: 44px;
    height: 41px;
    background: url('../../img/logo-microsoft.svg') no-repeat;
  }

  .app-download__desc {
    @include h-spacing();
    width: 250px;
    font: $f_light14;
    color: $c_white;
    text-align: center;
    line-height: 24px;
  }
}

@media (min-width: $ff_medium) and (max-width: $ff_until-large) {
  .app-download {
    @include h-spacing(20px);
    position: static;
    width: 300px;
    background-color: transparent;
  }

  .app-download__btn-download {
    @include btnGrand($c_white, $c_white);
    @include v-spacing(47px);
    @include h-spacing();
    width: 300px;

    &:hover {
      @include btnGrand($c_red, $c_white, $c_white);
    }

    &:active {
      @include btnGrand(rgba(210, 40, 86, 0.3), $c_white, $c_white);
    }

    &:disabled {
      @include btnGrand($c_white, $c_darkGray1, $c_darkGray1);
    }
  }

  .app-download__list {
    @include flex();
    @include resetSize();
    @include v-spacing(36px);
    padding: 0 46px;
    list-style: none;
  }

    .app-download__link {
    display: block;
  }

  .app-download__link.apple {
    width: 47px;
    height: 56px;
    background: url('../../img/logo-apple.svg') no-repeat;
  }

  .app-download__link.android {
    width: 43px;
    height: 47px;
    background: url('../../img/logo-android.svg') no-repeat;
  }

  .app-download__link.windows {
    width: 44px;
    height: 41px;
    background: url('../../img/logo-microsoft.svg') no-repeat;
  }

  .app-download__desc {
    @include resetSize();
    width: 100%;
    font: $f_light18;
    color: $c_white;
    text-align: center;
    line-height: 24px;
  }
}

@media (min-width: $ff_large) {
  .app-download {
    width: 300px;
  }

  .app-download__btn-download {
    @include btnGrand($c_white, $c_white);
    width: 100%;
    padding: 11px 13px;
    margin-bottom: 67px;
    font: $f_bold21;
    border-radius: 30px;

    &:hover {
      @include btnGrand($c_red, $c_white, $c_white);
      padding: 11px 13px;
      font: $f_bold21;
    }

    &:active {
      @include btnGrand(rgba(210, 40, 86, 0.3), $c_white, $c_white);
      padding: 11px 13px;
      font: $f_bold21;
    }

    &:disabled {
      @include btnGrand($c_white, $c_darkGray1, $c_darkGray1);
    }
  }

  .app-download__list {
    @include flex();
    @include resetSize();
    @include v-spacing(55px);
    padding: 0 48px;
    list-style: none;
  }

  .app-download__link {
    display: block;
  }

  .app-download__link.apple {
    width: 47px;
    height: 56px;
    background: url('../../img/logo-apple.svg') no-repeat;
  }

  .app-download__link.android {
    width: 43px;
    height: 47px;
    background: url('../../img/logo-android.svg') no-repeat;
  }

  .app-download__link.windows {
    width: 44px;
    height: 41px;
    background: url('../../img/logo-microsoft.svg') no-repeat;
  }

  .app-download__desc {
    font: $f_light18;
    color: $c_white;
    text-align: center;
    line-height: 24px;
  }
}
