.app-download {
  position: absolute;
  top: 721px;
  width: 320px;
  padding: 28px 0 28px;
  background-color: #17212D;
}

.app-download__btn-download {
  @include btnGrand($c_white);
  width: calc(100% - 40px);
  margin: 0 auto;
  margin-bottom: 34px;
}

.app-download__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 209px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.app-download__link {
  display: block;
}

.app-download__link.apple {
  width: 47px;
  height: 56px;
  background-size: contain;
}

.app-download__link.android {
  width: 43px;
  height: 47px;
  background-size: contain;
}

.app-download__link.windows {
  width: 44px;
  height: 41px;
  background-size: contain;
}

.app-download__desc {
  width: 250px;
  margin: 0 auto;
  font: $f_light14;
  color: $c_white;
  text-align: center;
  line-height: 25px;
}

@media (min-width: $ff_medium) {
  .app-download {
    position: static;
    width: 340px;
    background-color: transparent;
  }

  .app-download__btn-download {
    margin-bottom: 47px;
  }

  .app-download__list {
    margin-bottom: 35px;
  }

  .app-download__desc {
    width: 100%;
    font: $f_light18;
  }
}

@media (min-width: $ff_large) {
  .app-download {
    width: 300px;
  }

  .app-download__btn-download {
    width: 100%;
    padding: 11px 13px;
    margin-bottom: 67px;
    margin-left: 10px;
    font: $f_bold21;
    border-radius: 30px;
  }

  .app-download__list {
    margin-bottom: 55px;
    margin-left: 55px;
  }

  .app-download__desc {
    margin-left: 10px;
  }
}
