@media (max-width: $ff_until-medium) {
  .contest-achievements {
    padding: 36px 0 43px;
    background-color: $c_gray;
    border: none;
  }

  .contest-achievements__intro {
    @include resetSize();
    @include v-spacing(37px);
    @include h-spacing();
    width: calc(100% - 80px);
    font: $f_light14;
    color: $c_red;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }

  .contest-achievements__list {
    @include resetSize();
    @include h-spacing();
    width: 281px;
    width: max-content;
    list-style: none;
  }

  .contest-achievements__item:not(:last-child) {
    @include v-spacing(43px);
  }

  .contest-achievements__label {
    @include flex(row, flex-start);
    font: $f_reg18;
    color: $c_darkBlue1;
  }

  .contest-achievements__checkbox {
    @include h-spacing(0, 30px);
  }
}

@media (min-width: $ff_medium) and (max-width: $ff_until-large) {
  .contest-achievements {
    @include v-spacing(65px);
    @include h-spacing();
    order: 2;
    width: calc(100% - 38px);
    padding-bottom: 50px;
    background-color: transparent;
    border: 2px solid $c_darkGray1;
    border-radius: 3px;
  }

  .contest-achievements__intro {
    @include resetSize();
    @include v-spacing(43px);
    @include h-spacing();
    width: 100%;
    margin-top: -15px;
    font: $f_reg14;
    color: $c_red;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05px;
    background-color: transparent;
  }

  .contest-achievements__intro.quasi-legend {
    padding: 0 20px;
    background-color: #ffffff;
  }

  .contest-achievements__list {
    @include resetSize();
    @include h-spacing();
    width: 281px;
    width: max-content;
    list-style: none;
  }

  .contest-achievements__item:not(:last-child) {
    @include v-spacing(43px);
  }

  .contest-achievements__label {
    @include flex(row, flex-start);
    font: $f_reg18;
    color: $c_darkBlue1;
  }

  .contest-achievements__checkbox {
    @include h-spacing(0, 20px);
  }
}

@media (min-width: $ff_large) {
  .contest-achievements {
    @include v-spacing(67px);
    @include h-spacing();
    order: 2;
    width: 100%;
    padding-bottom: 4px;
    background-color: transparent;
    border: 2px solid $c_darkGray1;
    border-radius: 3px;
  }

  .contest-achievements__intro {
    @include resetSize();
    @include v-spacing(42px);
    @include h-spacing();
    width: 100%;
    margin-top: -15px;
    font: $f_reg14;
    color: $c_red;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05px;
    background-color: transparent;
  }

  .contest-achievements__intro.quasi-legend {
    padding: 0 20px;
    background-color: #ffffff;
  }

  .contest-achievements__list {
    @include flex(column, flex-start, stretch);
    @include resetSize();
    @include h-spacing();
    width: calc(100% - 95px);
    height: 170px;
    list-style: none;
  }

  .contest-achievements__item {
    @include v-spacing(45px);
    @include h-spacing(0, 53px);
  }

  .contest-achievements__label {
    @include flex(row, flex-start);
    font: $f_reg18;
    color: $c_darkBlue1;
  }

  .contest-achievements__checkbox {
    @include h-spacing(0, 22px);
  }
}
