@media (max-width: $ff_until-medium) {
  .contacts__intro {
    @include resetSize();
    @include v-spacing(34px);
    @include h-spacing();
    width: $align_small-fields;
    font: $f_light24;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 29px;
  }

  .contacts__list {
    @include resetSize();
    @include v-spacing(35px);
    @include h-spacing;
    width: $align_small-fields;
    list-style: none;
    text-align: center;
  }

  .contacts__item:not(:last-child) {
    @include v-spacing(21px);
  }

  .contacts__ttl {
    @include resetSize();
    @include v-spacing(-1px);
    font: $f_bold18;
  }

  .contacts__desc {
    @include resetSize();
    font: $f_light24;
    color: $c_red;
    text-decoration: none;

    &[href]:hover {
      color: $c_darkBlue1;
      text-decoration: underline;
    }

    &[href]:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .contacts__map-btn {
    @include resetSize();
    display: block;
    width: 100%;
    height: auto;
    padding-top: 62%;
    background:
      url('../../img/bg-triangle-white-footer.svg') 50% 0% no-repeat,
      url('../../img/icon-map-marker.svg') 50% 58% no-repeat,
      url('../../img/bg-map-mobile@1x.png') center 100% no-repeat;
    background-size: contain, auto, cover;
    border: none;
    overflow: hidden;

    @media (min-resolution: 2dppx), (min-resolution: $ratio2_dpi) {
      background:
        url('../../img/icon-map-marker.svg') 50% 58% no-repeat,
        url('../../img/bg-map-mobile@2x.jpg') 0 100% no-repeat;
      background-size: auto, 100% 330%;
    }
  }
}

@media (min-width: $ff_medium) and (max-width: $ff_until-large) {
  .contacts {
    padding-top: 46px;
  }

  .contacts__intro {
    @include resetSize();
    @include v-spacing(43px);
    @include h-spacing();
    width: 400px;
    font: $f_light40;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 48px;
  }

  .contacts__list {
    @include flex(row, center);
    @include resetSize();
    @include v-spacing(28px);
    @include h-spacing();
    width: $align_medium;
    padding-left: 40px;
    padding-right: 50px;
    list-style: none;
    text-align: center;
  }

  .contacts__item {
    width: auto;
  }

  .contacts__item:nth-child(1) {
    @include h-spacing(auto, 100px);
  }

  .contacts__item:nth-child(3) {
    width: 250px;
  }

  .contacts__item:not(:last-child) {
    @include v-spacing(45px);
  }

  .contacts__ttl {
    @include resetSize();
    font: $f_bold18;
    text-align: center;
  }

  .contacts__desc {
    @include resetSize();
    font: $f_light24;
    color: $c_red;
    text-align: center;
    text-decoration: none;

    &[href]:hover {
      color: $c_darkBlue1;
      text-decoration: underline;
    }

    &[href]:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .contacts__map-btn {
    @include resetSize();
    display: block;
    width: 100%;
    padding-top: 60%;
    background:
      url('../../img/bg-triangle-white-footer.svg') 50% 0% no-repeat,
      url('../../img/icon-map-marker.svg') 50% 60% no-repeat,
      url('../../img/bg-map-tablet@1x.jpg') 0% 72% no-repeat;
    background-size: contain, auto, cover;
    border: none;
    overflow: hidden;

    @media (min-resolution: 2dppx), (min-resolution: $ratio2_dpi) {
      background:
        url('../../img/icon-map-marker.svg') 50% 60% no-repeat,
        url('../../img/bg-map-tablet@2x.jpg') 0% 72% no-repeat;
      background-size: auto, cover;
    }
  }
}

@media (min-width: $ff_large) {
  .contacts {
    padding-top: 65px;
  }

  .contacts__intro {
    @include resetSize();
    @include v-spacing(55px);
    @include h-spacing();
    width: 500px;
    font: $f_light50;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 60px;
  }

  .contacts__list {
    @include flex(row, space-between, flex-start);
    @include resetSize();
    @include v-spacing(5px);
    @include h-spacing();
    width: 890px;
    list-style: none;
    text-align: center;
  }

  .contacts__item {
    width: 250px;
  }

  .contacts__item:nth-child(2) {
    order: 1;
  }

  .contacts__item:not(:last-child) {
    @include v-spacing(45px);
  }

  .contacts__ttl {
    @include resetSize();
    @include v-spacing(24px);
    font: $f_bold18;
    text-align: center;
  }

  .contacts__desc {
    @include resetSize();
    font: $f_light24;
    color: $c_red;
    text-align: center;
    text-decoration: none;
    line-height: 29px;

    &[href]:hover {
      color: $c_darkBlue1;
      text-decoration: underline;
    }

    &[href]:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .contacts__map-btn {
    @include resetSize();
    display: block;
    width: 100%;
    padding-top: 41%;
    background:
      url('../../img/bg-triangle-white-footer.svg') 50% 0% no-repeat,
      url('../../img/icon-map-marker.svg') 50% 56% no-repeat,
      url('../../img/bg-map-desktop@1x.jpg') 0% 59% no-repeat;
    background-size: contain, auto, cover;
    border: none;
    overflow: hidden;

    @media (min-resolution: 2dppx), (min-resolution: $ratio2_dpi) {
      background:
        url('../../img/icon-map-marker.svg') 50% 56% no-repeat,
        url('../../img/bg-map-desktop@2x.jpg') 0% 59% no-repeat;
      background-size: auto, cover;
    }
  }
}
