@media (max-width: $ff_until-medium) {
  .contest-device {
    padding: 36px 0 42px;
    background-color: $c_gray;
    border: none;
  }

  .contest-device__intro {
    @include resetSize();
    @include v-spacing(33px);
    @include h-spacing();
    width: 185px;
    font: $f_reg14;
    color: $c_red;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    background-color: transparent;
  }

  .contest-device__list {
    @include resetSize();
    @include h-spacing();
    max-width: 320px;
    padding: 0 20px;
    list-style: none;
  }

  .contest-device__item {
    width: max-content;
  }

  .contest-device__item:not(:last-child) {
    @include v-spacing(36px);
  }

  .contest-device__label {
    @include flex(row, flex-start);
    font: $f_reg18;
    color: $c_darkBlue1;
  }

  .contest-device__radio {
    @include h-spacing(0, 28px);
  }
}

@media (min-width: $ff_medium) and (max-width: $ff_until-large) {
  .contest-device {
    @include v-spacing(65px);
    @include h-spacing();
    order: 0;
    width: calc(100% - 40px);
    padding: 0 58px 54px;
    background-color: transparent;
    border: 2px solid $c_darkGray1;
    border-radius: 3px;
  }

  .contest-device__intro {
    @include resetSize();
    @include v-spacing(43px);
    @include h-spacing();
    width: 100%;
    margin-top: -11px;
    font: $f_reg14;
    color: $c_red;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.01px;
    background-color: transparent;
  }

  .contest-device__intro.quasi-legend {
    padding: 0 24px;
    background-color: #ffffff;
  }

  .contest-device__list {
    @include resetSize();
    list-style: none;
  }

  .contest-device__item {
    width: max-content;
  }

  .contest-device__item:not(:last-child) {
    @include v-spacing(36px);
  }

  .contest-device__label {
    @include flex(row, flex-start);
    font: $f_reg18;
    color: $c_darkBlue1;
  }

  .contest-device__radio {
    @include h-spacing(0, 21px);
  }
}

@media (min-width: $ff_large) {
  .contest-device {
    @include v-spacing(42px);
    order: 0;
    width: 435px;
    padding: 0 30px 53px;
    background-color: transparent;
    border: 2px solid $c_darkGray1;
    border-radius: 3px;
  }

  .contest-device__intro {
    @include resetSize();
    @include v-spacing(45px);
    @include h-spacing();
    width: 100%;
    margin-top: -10px;
    font: $f_reg14;
    color: $c_red;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    background-color: transparent;
  }

  .contest-device__intro.quasi-legend {
    padding: 0 20px;
    background-color: #ffffff;
  }

  .contest-device__list {
    @include resetSize();
    @include h-spacing();
    width: calc(100% - 53px);
    list-style: none;
  }

  .contest-device__item {
    margin-left: 19px;
  }

  .contest-device__item:not(:last-child) {
    @include v-spacing(36px);
  }

  .contest-device__label {
    @include flex(row, flex-start);
    font: $f_reg18;
    color: $c_darkBlue1;
  }

  .contest-device__radio {
    @include h-spacing(0, 21px);
  }
}
