@media (max-width: $ff_until-medium) {
  .contest-contacts {
    padding: 38px 0 20px;
    border: none;
  }

  .contest-contacts__intro {
    display: none;
  }

  .contest-contacts__list {
    @include resetSize();
    list-style: none;
  }

  .contest-contacts__item {
    @include h-spacing();
    width: $align_small-fields;
  }

  .contest-contacts__label {
    @include v-spacing(10px);
    @include h-spacing();
    display: block;
    width: calc(100% - 45px);
    font: $f_light14;
    color: $c_red;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }

  .contest-contacts__input {
    @include v-spacing(21px);
    @include h-spacing();
    display: block;
    width: 100%;
  }
}

@media (min-width: $ff_medium) and (max-width: $ff_until-large) {
  .contest-contacts {
    @include v-spacing(66px);
    @include h-spacing();
    order: 1;
    width: calc(100% - 40px);
    padding-bottom: 20px;
    border: 2px solid $c_darkGray1;
    border-radius: 3px;
  }

  .contest-contacts__intro {
    @include resetSize();
    @include v-spacing(36px);
    @include h-spacing();
    width: fit-content;
    margin-top: -17px;
    padding: 0 25px 0;
    font: $f_reg14;
    color: $c_red;
    text-transform: uppercase;
    background-color: #ffffff;
  }

  .contest-contacts__list {
    @include resetSize();
    list-style: none;
  }

  .contest-contacts__item {
    @include flex(column, flex-start, center, stretch);
    @include h-spacing();
    position: relative;
    width: calc(100% - 20px);

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      right: 39px;
      display: block;
      width: 60px;
      height: 60px;
      background-color: $c_darkGray1;
    }
  }

  .contest-contacts__item.tel::after {
    background: url('../../img/icon-contacts-phone.svg') 50% no-repeat $c_darkGray1;
  }

  .contest-contacts__item.email::after {
    background: url('../../img/icon-contacts-mail.svg') 50% no-repeat $c_darkGray1;
  }

  .contest-contacts__item:not(:last-child) {
    @include v-spacing(24px);
  }

  .contest-contacts__label {
    @include v-spacing(10px);
    @include h-spacing();
    display: block;
    width: calc(100% - 115px);
    font: $f_light14;
    color: $c_red;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }

  .contest-contacts__input {
    order: -1;
    @include v-spacing(15px);
    @include h-spacing();
    display: block;
    width: calc(100% - 75px);
  }
}

@media (min-width: $ff_large) {
  .contest-contacts {
    @include v-spacing(63px);
    @include h-spacing();
    order: 1;
    width: 100%;
    margin-top: 25px;
    padding: 0 53px 0 57px;
    border: 2px solid $c_darkGray1;
    border-radius: 3px;
  }

  .contest-contacts__intro {
    @include resetSize();
    @include v-spacing(32px);
    @include h-spacing();
    width: fit-content;
    margin-top: -12px;
    padding: 0 25px 0;
    font: $f_reg14;
    color: $c_red;
    text-transform: uppercase;
    background-color: #ffffff;
  }

  .contest-contacts__list {
    @include flex();
    @include resetSize();
    list-style: none;
  }

  .contest-contacts__item {
    @include flex(column, flex-start, center, stretch);
    position: relative;
    width: 375px;

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      right: 2px;
      display: block;
      width: 60px;
      height: 60px;
      background-color: $c_darkGray1;
    }
  }

  .contest-contacts__item.tel::after {
    background: url('../../img/icon-contacts-phone.svg') 50% no-repeat $c_darkGray1;
  }

  .contest-contacts__item.email::after {
    background: url('../../img/icon-contacts-mail.svg') 50% no-repeat $c_darkGray1;
  }

  .contest-contacts__label {
    @include v-spacing(20px);
    display: block;
    width: 100%;
    padding-left: 20px;
    font: $f_light14;
    color: $c_red;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }

  .contest-contacts__input {
    @include v-spacing(17px);
    order: -1;
    display: block;
    width: 100%;
  }
}
