@media (max-width: $ff_until-medium) {
  .contest-name {
    @include resetSize();
    @include v-spacing(22px);
    border: none;
  }

  .contest-name__list {
    @include resetSize();
    @include v-spacing(20px);
    padding: 0 20px;
    list-style: none;
  }

  .contest-name__item {
    @include flex(row, flex-start);
    @include v-spacing(24px);
    @include h-spacing();
    width: 100%;
  }

  .contest-name__item:last-child {
    @include v-spacing();
  }

  .contest-name__label {
    @include v-spacing(10px);
    @include h-spacing();
    display: block;
    width: calc(100% - 44px);
    font: $f_light14;
    color: $c_red;
    text-transform: uppercase;
    letter-spacing: 0.7px;
  }

  .contest-name__input {
    display: block;
    width: 100%;
  }
}

@media (min-width: $ff_medium) and (max-width: $ff_until-large) {
  .contest-name {
    @include resetSize();
    @include v-spacing(46px);
    padding: 1px 0;
    border: none;
  }

  .contest-name__list {
    @include resetSize();
    @include v-spacing(20px);
    list-style: none;
  }

  .contest-name__item {
    @include flex();
    @include v-spacing(53px);
    @include h-spacing();
    flex-wrap: nowrap;
    width: calc(100% - 40px);
  }

  .contest-name__item:last-child {
    @include v-spacing();
  }

  .contest-name__label {
    @include h-spacing(0, 18px);
    display: block;
    width: auto;
    font: $f_reg14;
    color: $c_red;
    text-transform: uppercase;
    letter-spacing: 0.1px;
  }

  .contest-name__input {
    display: block;
    width: 100%;
    margin: 0;
  }
}

@media (min-width: $ff_large) {
  .contest-name {
    @include resetSize();
    @include v-spacing(42px);
    width: 475px;
    padding: 1px 0;
    border: none;
  }

  .contest-name__list {
    @include resetSize();
    margin-bottom: -3px;
    list-style: none;
  }

  .contest-name__item {
    @include flex();
    @include v-spacing(54px);
    flex-wrap: nowrap;
    width: calc(100% - 40px);
  }

  .contest-name__item:last-child {
    @include v-spacing();
  }

  .contest-name__label {
    @include h-spacing(0, 18px);
    display: block;
    width: auto;
    font: $f_reg14;
    color: $c_red;
    text-transform: uppercase;
    letter-spacing: 0.1px;
  }

  .contest-name__input {
    display: block;
    width: 100%;
    margin: 0;
  }
}
