@media (max-width: $ff_until-medium) {
  .contest {
    padding: 0 0 20px;
  }

  .contest__intro {
    @include resetSize();
    @include h-spacing();
    max-width: 500px;
    padding: 46px 20px 39px;
    font: $f_light14;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.2px;
  }

  .contest__intro-detail {
    display: none;
  }

  .contest__submit-btn {
    @include v-spacing(40px);
    @include h-spacing();
    @include btnConfirm($c_green);
    width: calc(100% - 40px);

    &:hover {
      @include btnConfirm($c_darkGreen);
    }

    &:active {
      @include btnConfirm($c_darkGreen, rgba(255, 255, 255, 0.3));
    }

    &:disabled {
      @include btnConfirm($c_darkGray1, $c_white);
    }
  }

  .contest__annotation {
    @include resetSize();
    font: $f_light14;
    color: $c_darkBlue1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }

  .contest__annotation.large {
    display: none;
  }

  .contest__annotation-red {
    color: $c_red;
  }
}

@media (min-width: $ff_medium) and (max-width: $ff_until-large) {
  .contest {
    @include v-spacing(30px);
    padding: 46px 0 20px;
  }

  .contest__intro {
    @include resetSize();
    @include v-spacing(39px);
    @include h-spacing();
    width: calc(100% - 100px);
    padding: 48px 0 30px;
    font: $f_reg18;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.05px;
  }

  .contest__intro-detail {
    display: inline;
  }

  .contest__form {
    @include flex(column, flex-start, stretch);
  }

  .contest__submit-btn {
    @include btnConfirm($c_green);
    width: 300px;

    &:hover {
      @include btnConfirm($c_darkGreen);
    }

    &:active {
      @include btnConfirm($c_darkGreen, rgba(255, 255, 255, 0.3));
    }

    &:disabled {
      @include btnConfirm($c_darkGray1, $c_white);
    }
  }

  .contest__annotation-wrapper {
    @include flex();
    @include h-spacing();
    order: 2;
    width: 620px;
  }

  .contest__annotation {
    @include resetSize();
    font: $f_light14;
    color: $c_darkBlue1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }

  .contest__annotation.large {
    display: none;
  }

  .contest__annotation-red {
    color: $c_red;
  }
}

@media (min-width: $ff_large) {
  .contest {
    @include h-spacing();
    width: $align_large;
    padding: 0 10px;
  }

  .contest__intro {
    @include resetSize();
    @include v-spacing(50px);
    @include h-spacing();
    width: calc(100% - 180px);
    padding: 92px 0 30px;
    font: $f_reg18;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.05px;
  }

  .contest__intro-detail {
    display: inline;
  }

  .contest__form {
    @include flex(row, space-between, flex-end);
  }

  .contest__submit-btn {
    @include btnConfirm($c_green);
    width: 300px;

    &:hover {
      @include btnConfirm($c_darkGreen);
    }

    &:active {
      @include btnConfirm($c_darkGreen, rgba(255, 255, 255, 0.3));
    }

    &:disabled {
      @include btnConfirm($c_darkGray1, $c_white);
    }
  }

  .contest__annotation-wrapper {
    @include flex();
    @include h-spacing();
    order: 2;
    width: $align_large-fields;
  }

  .contest__annotation {
    @include resetSize();
    font: $f_light14;
    color: $c_darkBlue1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }

  .contest__annotation.short {
    display: none;
  }

  .contest__annotation-red {
    color: $c_red;
  }
}
