@media (max-width: $ff_until-medium) {
  .contest-emotions {
    padding: 39px 0 49px;
    border: none;
  }

  .contest-emotions__intro {
    @include resetSize();
    @include v-spacing(15px);
    @include h-spacing();
    width: $align_small-fields;
    font: $f_reg14;
    color: $c_red;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1px;
  }

  .contest-emotions__user-text {
    @include h-spacing();
    display: block;
    width: calc(100% - 40px);
    min-height: 200px;
    padding: 16px;
    line-height: 29px;
  }
}

@media (min-width: $ff_medium) and (max-width: $ff_until-large) {
  .contest-emotions {
    @include v-spacing(67px);
    @include h-spacing();
    order: 2;
    width: calc(100% - 40px);
    padding-bottom: 50px;
    border: 2px solid $c_darkGray1;
    border-radius: 3px;
  }

  .contest-emotions__intro {
    @include resetSize();
    @include v-spacing(35px);
    @include h-spacing();
    width: 100%;
    margin-top: -16px;
    font: $f_reg14;
    color: $c_red;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    background-color: transparent;
  }

  .contest-emotions__intro.quasi-legend {
    padding: 0 36px;
    background-color: #ffffff;
  }

  .contest-emotions__user-text {
    @include h-spacing();
    display: block;
    width: calc(100% - 95px);
    min-height: 195px;
    padding: 16px;
    line-height: 29px;
  }
}

@media (min-width: $ff_large) {
  .contest-emotions {
    @include v-spacing(67px);
    @include h-spacing();
    order: 2;
    width: 100%;
    padding-bottom: 42px;
    border: 2px solid $c_darkGray1;
    border-radius: 3px;
  }

  .contest-emotions__intro {
    @include resetSize();
    @include v-spacing(32px);
    @include h-spacing();
    width: 100%;
    margin-top: -15px;
    font: $f_reg14;
    color: $c_red;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    background-color: transparent;
  }

  .contest-emotions__intro.quasi-legend {
    padding: 0 35px;
    background-color: #ffffff;
  }

  .contest-emotions__user-text {
    @include h-spacing();
    display: block;
    width: calc(100% - 95px);
    min-height: 128px;
    padding: 16px;
    line-height: 29px;
  }
}
