.contest-quastionnaire {
  padding: 37px 0 42px;
  background-color: $c_gray;
  border: none;
}

.contest-quastionnaire__intro {
  width: calc(100% - 40px);
  margin: 0 auto;
  margin-bottom: 34px;
  font: $f_light14;
  color: $c_red;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.contest-quastionnaire__list {
  width: calc(100% - 35px);
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.contest-quastionnaire__item:not(:last-child) {
  margin-bottom: 36px;
}

.contest-quastionnaire__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font: $f_regular18;
  color: $c_darkBlue;
}

.custom__radio {
  display: block;
  width: 39px;
  height: 39px;
  margin-right: 30px;
}
