.custom__input-text {
  padding: 18px 19px;
  font: $f_regular18;
  color: $c_darkBlue;
  border: 2px solid #e5e5e5;
}

.custom__textarea {
  font: $f_regular18;
  color: $c_darkBlue;
  border: 2px solid #e5e5e5;
  resize: none;
}
