@media (max-width: $ff_until-medium) {
  .editor {
    padding: 20px 0 42px;
    background-color: $c_gray;
  }

  .editor__link-img {
    @include v-spacing(40px);
    @include h-spacing();
    display: block;
    max-width: 320px;
    width: max-content;
    max-height: 374px;
  }

  .editor__user-img {
    @include h-spacing();
    display: block;
  }

  .editor__control {
    @include flex(row, center);
    @include resetSize();
    position: relative;
    padding-bottom: 61px;
    list-style: none;
  }

  .editor__control-item:not(:last-child) {
    @include h-spacing(0, 35px);
  }

  .editor__icon-vignette,
  .editor__icon-fill,
  .editor__icon-contrast {
    display: none;
  }

  .editor__icon-vignette-switcher,
  .editor__icon-fill-switcher,
  .editor__icon-contrast-switcher {
    fill: $c_darkBlue1;
    opacity: 30%;
  }

  .editor__btn:hover .editor__icon-vignette-switcher,
  .editor__btn:hover .editor__icon-fill-switcher,
  .editor__btn:hover .editor__icon-contrast-switcher {
    fill: $c_darkBlue1;
    opacity: 50%;
  }

  .editor__switcher:checked ~ .editor__btn .editor__icon-vignette-switcher,
  .editor__switcher:checked ~ .editor__btn .editor__icon-fill-switcher,
  .editor__switcher:checked ~ .editor__btn .editor__icon-contrast-switcher {
    fill: $c_red;
    opacity: 100%;
  }

  .editor__switcher ~ .editor__btn ~ .editor__range {
    display: none;
  }

  .editor__switcher:checked ~ .editor__btn ~ .editor__range {
    @include h-spacing();
    position: absolute;
    left: 38px;
    top: 82px;
    display: block;
    width: calc(100% - 80px);
  }

  .editor__submit-btn {
    @include h-spacing();
    @include btnGrand($c_red, $c_red);
    width: calc(100% - 40px);
    max-width: 500px;
    margin-top: 38px;
    margin-bottom: 13px;

    &:hover {
      @include btnGrand($c_white, $c_red, $c_red);
    }

    &:active {
      @include btnGrand(rgba(255, 255, 255, 0.3), $c_red, $c_red);
    }

    &:disabled {
      @include btnGrand($c_white, $c_darkGray1, $c_darkGray1);
    }
  }

  .editor__reset-btn {
    @include h-spacing();
    @include btnGrand($c_darkGray1, $c_darkGray1);
    width: calc(100% - 40px);
    max-width: 500px;

    &:hover {
      @include btnGrand($c_darkGray2, $c_darkGray2);
    }

    &:active {
      @include btnGrand(rgba(255, 255, 255, 0.3), $c_darkGray2, $c_darkGray2);
    }

    &:disabled {
      @include btnGrand($c_white, $c_darkGray1, $c_darkGray1);
    }
  }
}

@media (min-width: $ff_medium) and (max-width: $ff_until-large) {
  .editor {
    @include flex(row, space-between, stretch);
    flex-wrap: nowrap;
    padding: 57px 20px 56px;
    background-color: $c_gray;
  }

  .editor__user-img {
    display: block;
    width: 300px;
    max-height: 400px;
  }

  .editor__form {
    @include flex(column);
    flex-grow: 1;
    margin-left: 47px;
  }

  .editor__control {
    @include flex(column, flex-start, flex-end);
    @include resetSize();
    position: relative;
    width: 100%;
    list-style: none;
  }

  .editor__control-item {
    @include flex(row, space-between);
    @include resetSize();
    width: 100%;
    padding: 9px 16px 22px 0;
    border-bottom: 1px solid $c_darkGray1;
  }

  .editor__control-item:not(:first-child) {
    padding: 28px 16px 22px 0;
  }

  .editor__icon-vignette,
  .editor__icon-fill,
  .editor__icon-contrast {
    display: block;
    fill: $c_red;
  }

  .editor__icon-contrast {
    margin-left: 6px;
  }

  .editor__switcher.vignette,
  .editor__switcher.fill,
  .editor__switcher.contrast {
    display: none;
  }


  .editor__switcher ~ .editor__btn,
  .editor__switcher:checked ~ .editor__btn {
    display: none;
  }

  .editor__switcher ~ .editor__btn ~ .editor__range,
  .editor__switcher:checked ~ .editor__btn ~ .editor__range {
    position: static;
    display: block;
    width: calc(100% - 55px);
  }

  .editor .custom-hr {
    display: none;
  }

  .editor__btns-wrapper {
    width: 100%;
  }

  .editor__submit-btn {
    @include v-spacing(26px);
    @include btnGrand($c_red, $c_red);
    width: calc(100% - 13px);

    &:hover {
      @include btnGrand($c_white, $c_red, $c_red);
    }

    &:active {
      @include btnGrand(rgba(255, 255, 255, 0.3), $c_red, $c_red);
    }

    &:disabled {
      @include btnGrand($c_white, $c_darkGray1, $c_darkGray1);
    }
  }

  .editor__reset-btn {
    @include btnGrand($c_darkGray1, $c_darkGray1);
    width: calc(100% - 13px);

    &:hover {
      @include btnGrand($c_darkGray2, $c_darkGray2);
    }

    &:active {
      @include btnGrand(rgba(255, 255, 255, 0.3), $c_darkGray2, $c_darkGray2);
    }

    &:disabled {
      @include btnGrand($c_white, $c_darkGray1, $c_darkGray1);
    }
  }
}

@media (min-width: $ff_large) {
  .editor {
    @include flex(row, space-between, stretch);
    @include v-spacing(28px);
    @include h-spacing();
    width: 940px;
    padding: 57px 60px 55px 80px;
    background-color: $c_gray;
  }

  .editor__form {
    @include flex(column);
    @include h-spacing(90px);
    width: 410px;
  }

  .editor__user-img {
    display: block;
    width: 300px;
    max-height: 400px;
  }

  .editor__control {
    @include flex(column, flex-start, flex-end);
    @include resetSize();
    position: relative;
    width: 100%;
    margin-top: -5px;
    list-style: none;
  }

  .editor__control-item {
    @include flex(row, space-between);
    @include resetSize();
    width: 100%;
    padding: 10px 30px 6px 0;
    border-bottom: 1px solid $c_darkGray1;
  }

  .editor__control-item:first-child {
    padding-top: 0;
    padding-bottom: 11px;
  }

  .editor__control-item:nth-child(3) {
    padding: 15px 30px 16px 0;
  }

  .editor__icon-vignette {
    width: 48px;
    height: 48px;
    fill: $c_red;
  }

  .editor__icon-fill {
    width: 53px;
    height: 53px;
    margin-top: 3px;
    margin-left: -2px;
    fill: $c_red;
  }

  .editor__icon-contrast {
    width: 35px;
    height: 35px;
    margin-top: 3px;
    margin-left: 5px;
    fill: $c_red;
  }

  .editor__switcher.vignette,
  .editor__switcher.fill,
  .editor__switcher.contrast {
    display: none;
  }

  .editor__switcher ~ .editor__btn,
  .editor__switcher:checked ~ .editor__btn {
    display: none;
  }

  .editor__switcher ~ .editor__btn ~ .editor__range,
  .editor__switcher:checked ~ .editor__btn ~ .editor__range {
    @include resetSize();
    position: static;
    display: block;
    width: 288px;
  }

  .editor .custom-hr {
    display: none;
  }

  .editor__btns-wrapper {
    @include flex();
    width: 100%;
  }

  .editor__submit-btn {
    @include resetSize();
    @include btnGrand($c_red, $c_red);
    width: 182px;

    &:hover {
      @include btnGrand($c_white, $c_red, $c_red);
    }

    &:active {
      @include btnGrand(rgba(255, 255, 255, 0.3), $c_red, $c_red);
    }

    &:disabled {
      @include btnGrand($c_white, $c_darkGray1, $c_darkGray1);
    }
  }

  .editor__reset-btn {
    @include resetSize();
    @include btnGrand($c_darkGray1, $c_darkGray1);
    width: 182px;

    &:hover {
      @include btnGrand($c_darkGray2, $c_darkGray2);
    }

    &:active {
      @include btnGrand(rgba(255, 255, 255, 0.3), $c_darkGray2, $c_darkGray2);
    }

    &:disabled {
      @include btnGrand($c_white, $c_darkGray1, $c_darkGray1);
    }
  }
}
