@media (max-width: $ff_until-medium) {
  .features {
    background-color: $c_gray;
  }

  .features__intro-wrapper {
    padding: 40px 0 32px;
    background-color: #ffffff;
  }

  .features__intro {
    @include resetSize();
    @include h-spacing();
    width: $align_small-fields;
    font: $f_light24;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 29px;
  }

  .features__intro:not(:last-child) {
    @include v-spacing(30px);
  }

  .features__list {
    @include flex(column, flex-start);
    @include resetSize();
    @include v-spacing(28px);
    @include h-spacing();
    position: relative;
    padding: 82px 0 283px;
    list-style: none;
    text-align: center;
    overflow: hidden;
  }

  .features__item {
    @include v-spacing(35px);
    @include h-spacing();
    width: $align_small-fields;
  }

  .features__img {
    display: none;
  }

  .features__img.single {
    position: absolute;
    display: block;
    left: 83px;
    bottom: -42px;
    height: 320px;
  }

  .features__ttl {
    @include resetSize();
    @include v-spacing(12px);
    font: $f_bold18;
  }

  .features__desc {
    @include resetSize();
    font: $f_light14;
    color: $c_darkBlue1;
    line-height: 23px;
    letter-spacing: 0.3px;
  }
}

@media (min-width: $ff_medium) and (max-width: $ff_until-large) {
  .features__intro-wrapper {
    padding: 49px 0 46px;
    background-color: #ffffff;
  }

  .features__intro {
    @include resetSize();
    @include h-spacing();
    width: $align_medium-fields;
    font: $f_light40;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 48px;
  }

  .features__intro:not(:last-child) {
    @include v-spacing(0px);
  }

  .features__wrapper {
    background-color: $c_gray;
  }

  .features__list {
    @include resetSize();
    position: relative;
    width: 100%;
    padding-top: 74px;
    padding-bottom: 42px;
    list-style: none;
  }

  .features__item {
    @include h-spacing(330px);
    width: 310px;
  }

  .features__item:not(:last-child) {
    @include v-spacing(33px);
  }

  .features__ttl {
    @include resetSize;
    @include v-spacing(13px);
    font: $f_bold18;
    text-align: left;
  }

  .features__desc {
    @include resetSize;
    font: $f_reg14;
    color: $c_darkBlue1;
    line-height: 24px;
  }

  .features__img {
    display: none;
  }

  .features__img.single {
    position: absolute;
    z-index: 100;
    display: block;
    top: 4px;
    left: 20px;
    width: 268px;
  }
}

@media (min-width: $ff_large) {
  .features {
    @include resetSize();
  }

  .features__intro-wrapper {
    padding: 67px 0 76px;
  }

  .features__intro {
    @include resetSize();
    font: $f_light50;
    text-align: center;
    line-height: 60px;
  }

  .features__wrapper {
    background-color: $c_gray;
  }

  .features__list {
    @include resetSize();
    @include h-spacing();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: $align_large-fields;
    margin-top: -2px;
    list-style: none;
  }

  .features__item {
    width: 300px;
  }

  .features__img,
  .features__img.single {
    position: static;
    width: 300px;
    height: 310px;
    margin-bottom: 47px;
  }

  .features__ttl {
    margin-bottom: 25px;
    padding: 0 30px;
    font: $f_bold30;
    text-align: center;
    line-height: 30px;
  }

  .features__desc {
    padding: 0 25px;
    font: $f_reg18;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.05px;
  }
}
