.feedback {
  position: relative;
  z-index: 10;
  margin-top: -42px;
  padding: 45px 0 42px;
  background-color: #ffffff;
}

.feedback__list {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

.feedback__name {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  font: $f_bold18;
}

.feedback__text {
  margin: 0;
  padding: 0;
  font: $f_light14;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.feedback .slider-bullets__list {
  margin-top: 33px;
}

.feedback .slider-bullets__input ~ .slider-bullets__bullet {
  @include slider-bullet($c_white);
}

.feedback .slider-bullets__input:checked ~ .slider-bullets__bullet {
  @include slider-bullet-active($c_white);
}


