.footer {
  padding: 41px 0;
}

.footer__logo {
  display: block;
  width: 147px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 40px;
  border: 1px dashed red;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  list-style: none;
}

.footer__social-item:not(:last-child) {
  margin-right: 14px;
}

.footer__social-link {
  display: block;
  width: 50px;
  height: 50px;
  border: 3px solid #eaebed;
  border-radius: 50%;
}

.footer__dev-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer__dev {
  font: 14px "Open Sans", sans-serif;
  color: $c_darkBlue1;
  line-height: 18px;
  margin-right: 13px;
}

@media (min-width: $ff_medium) {
  .footer {
    padding: 38px 0;
  }

  .footer__alignment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: $ff_medium;
    margin: 0 auto;
    padding: 0px 20px;
  }

  .footer__logo {
    margin: 0;
    margin-top: -15px;
    margin-right: -19px;
  }

  .footer__social-list {
    margin: 0;
  }

  .footer__dev-link {
    margin-top: 1px;
  }
}

@media (min-width: $ff_large) {
  .footer {
    padding: 72px 0 75px;
  }

  .footer__alignment {
    width: $ff_large;
    padding: 0 10px;
  }
}
