@media (max-width: $ff_until-medium) {
  .footer {
    padding: 41px 0;
  }

  .footer.index {
    display: none;
  }

  .footer__logo {
    @include v-spacing(40px);
    @include h-spacing();
    display: block;
    width: 147px;
    height: 40px;
  }

  .footer__logo-svg {
    width: 147px;
    height: 40px;
    fill: $c_darkBlue1;
  }

  .footer__logo:hover .footer__logo-svg {
    fill: $c_red;
  }

  .footer__logo:active .footer__logo-svg {
    fill: $c_darkBlue1;
    opacity: 30%;
  }

  .footer__social-list {
    @include flex(row, center);
    @include resetSize();
    @include v-spacing(32px);
    list-style: none;
  }

  .footer__social-item:not(:last-child) {
    @include h-spacing(0, 14px);
  }

  .footer__social-link {
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid #eaebed;
    border-radius: 50%;

    &:hover {
      border-color: $c_darkBlue1;
    }

    &:active {
      opacity: 30%;
      border-color: #eaebed;
    }
  }

  .footer__social-link.twitter {
    background: url("../../img/icon-twitter.svg") no-repeat;
    background-position: 50%;
  }

  .footer__social-link.facebook {
    background: url("../../img/icon-facebook.svg") no-repeat;
    background-position: 50%;
  }

  .footer__social-link.youtube {
    background: url("../../img/icon-youtube.svg") no-repeat;
    background-position: 50%;
  }

  .footer__dev-link {
    @include flex(row, center);
    @include h-spacing();
    width: max-content;
    text-decoration: none;
  }

  .footer__dev {
    @include h-spacing(0, 13px);
    font: $f_reg14;
    color: $c_darkBlue1;
    line-height: 18px;
  }

  .footer__logo-htmlacademy {
    fill: $c_red;
  }

  .footer__dev-link:hover .footer__logo-htmlacademy {
    fill: $c_darkBlue1;
  }

  .footer__dev-link:active .footer__logo-htmlacademy {
    fill: #bfc3c8;
  }
}

@media (min-width: $ff_medium) and (max-width: $ff_until-large) {
  .footer {
    padding: 38px 0;
  }

  .footer__alignment {
    @include flex();
    @include h-spacing();
    width: $ff_medium;
    padding: 0 20px;
  }

  .footer__logo {
    @include h-spacing(0, -19px);
    display: block;
    width: 147px;
    height: 40px;
    margin-top: -15px;
  }

  .footer__logo-svg {
    width: 147px;
    height: 40px;
    fill: $c_darkBlue1;
  }

  .footer__logo:hover .footer__logo-svg {
    fill: $c_red;
  }

  .footer__logo:active .footer__logo-svg {
    fill: $c_darkBlue1;
    opacity: 30%;
  }

  .footer__social-list {
    @include flex(row, center);
    @include resetSize();
    list-style: none;
  }

  .footer__social-item:not(:last-child) {
    @include h-spacing(0, 14px);
  }

  .footer__social-link {
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid #eaebed;
    border-radius: 50%;

    &:hover {
      border-color: $c_darkBlue1;
    }

    &:active {
      opacity: 30%;
      border-color: #eaebed;
    }
  }

  .footer__social-link.twitter {
    background: url("../../img/icon-twitter.svg") no-repeat;
    background-position: 50%;
  }

  .footer__social-link.facebook {
    background: url("../../img/icon-facebook.svg") no-repeat;
    background-position: 50%;
  }

  .footer__social-link.youtube {
    background: url("../../img/icon-youtube.svg") no-repeat;
    background-position: 50%;
  }

  .footer__dev-link {
    @include flex(row, center);
    margin-top: 1px;
    text-decoration: none;
  }

  .footer__dev {
    @include h-spacing(0, 13px);
    font: $f_reg14;
    color: $c_darkBlue1;
    line-height: 18px;
  }

  .footer__logo-htmlacademy {
    fill: $c_red;
  }

  .footer__dev-link:hover .footer__logo-htmlacademy {
    fill: $c_darkBlue1;
  }

  .footer__dev-link:active .footer__logo-htmlacademy {
    fill: #bfc3c8;
  }
}

@media (min-width: $ff_large) {
  .footer {
    padding: 70px 0 75px;
  }

  .footer__alignment {
    @include flex();
    @include h-spacing();
    width: $ff_large;
    padding: 0 10px;
  }

  .footer__logo {
    @include h-spacing(0, 5px);
    display: block;
    width: 147px;
    height: 40px;
    margin-top: -15px;
  }

  .footer__logo-svg {
    width: 147px;
    height: 40px;
    fill: $c_darkBlue1;
  }

  .footer__logo:hover .footer__logo-svg {
    fill: $c_red;
  }

  .footer__logo:active .footer__logo-svg {
    fill: $c_darkBlue1;
    opacity: 30%;
  }

  .footer__social-list {
    @include flex(row, center);
    @include resetSize();
    list-style: none;
  }

  .footer__social-item:not(:last-child) {
    @include h-spacing(0, 14px);
  }

  .footer__social-link {
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid #eaebed;
    border-radius: 50%;

    &:hover {
      border-color: $c_darkBlue1;
    }

    &:active {
      opacity: 30%;
      border-color: #eaebed;
    }
  }

  .footer__social-link.twitter {
    background: url("../../img/icon-twitter.svg") no-repeat;
    background-position: 50%;
  }

  .footer__social-link.facebook {
    background: url("../../img/icon-facebook.svg") no-repeat;
    background-position: 50%;
  }

  .footer__social-link.youtube {
    background: url("../../img/icon-youtube.svg") no-repeat;
    background-position: 50%;
  }

  .footer__dev-link {
    @include flex(row, center);
    margin-top: 1px;
    text-decoration: none;
  }

  .footer__dev {
    @include h-spacing(0, 13px);
    font: $f_reg18;
    color: $c_darkBlue1;
    line-height: 18px;
  }

  .footer__logo-htmlacademy {
    fill: $c_red;
  }

  .footer__dev-link:hover .footer__logo-htmlacademy {
    fill: $c_darkBlue1;
  }

  .footer__dev-link:active .footer__logo-htmlacademy {
    fill: #bfc3c8;
  }
}
