.header-upside__menu {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.header-upside__menu.opened {
  padding: 21px 20px 25px;
  background-color: $c_darkBlue1;
  border-bottom: 1px solid #020203;
}

.header-upside__logo {
  display: block;
  width: 75px;
  height: 22px;
}

.header-upside__menu .header-upside__nav-btn {
  width: 50px;
  height: 24px;
  background-color: transparent;
}

.header-upside__menu.opened .header-upside__nav-btn {
  width: 24px;
  height: 23px;
  background-color: transparent;
}

.header-upside__nav {
  position: relative;
  z-index: 10;
  background-color: $c_darkBlue1;
}

.header-upside__nav.closed {
  display: none;
}

.header-upside__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-upside__nav-item {
  padding: 19px;
  border-top: 1px solid #475462;
  border-bottom: 1px solid #020203;
  text-align: center;
}

.header-upside__nav-link {
  font: $f_bold18;
  color: $c_white;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: $ff_medium) {
  .header-upside__menu {
    align-items: flex-end;
    padding: 27px 20px 42px;
  }

  .header-upside__menu.opened {
    padding: 28px 20px 41px;
  }

  .header-upside__logo {
    width: 147px;
    height: 40px;
  }
}

@media (min-width: $ff_large) {
  .header-upside {
    position: relative;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .header-upside__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 260px);
    margin: 0 auto;
  }

  .header-upside__menu,
  .header-upside__menu.opened {
    position: static;
    background-color: transparent;
    padding: 28px 0 41px;
    border: none;
  }

  .header-upside__nav {
    width: 620px;
    background-color: transparent;
  }

  .header-upside__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .header-upside__nav-item {
    margin: 0;
    padding: 0;
    border: none;
  }

  .header-upside__nav-link {
    font: $f_reg18;
    text-transform: none;
  }
}

