@media (max-width: $ff_until-medium) {
  .header-downside {
    width: 100%;
    min-height: 236px;
    margin-top: -67px;
    padding: 95px 0 30px;
    background: url('../../img/bg-back-mobile@1x.jpg') no-repeat $c_darkBlue1;
    background-position: 0 calc((100vw - 320px) / -1);
    background-size: cover;

    @media (min-resolution: 2dppx), (min-resolution: $ratio2_dpi) {
      background: url('../../img/bg-back-mobile@2x.jpg') no-repeat $c_darkBlue1;
      background-position: 0 calc((100vw - 320px) / -1);
      background-size: cover;
    }
  }

  .header-downside.index {
    width: 100%;
    height: 462px;
    margin-top: -67px;
    padding: 89px 0 214px;
    background: url('../../img/bg-back-mobile@1x.jpg') no-repeat $c_darkBlue1;
    background-size: cover;

    @media (min-resolution: 2dppx), (min-resolution: $ratio2_dpi) {
      background: url('../../img/bg-back-mobile@2x.jpg') no-repeat $c_darkBlue1;
      background-size: cover;
    }
  }

  .header-downside__alignment {
    @include h-spacing();
    width: $ff_small;
  }

  .header-downside.index .header-downside__alignment {
    padding-bottom: 285px;
    background: url('../../img/iphone-hand-mobile@1x.png') bottom left no-repeat;

    @media (min-resolution: 2dppx), (min-resolution: $ratio2_dpi) {
      background: url('../../img/iphone-hand-mobile@2x.png') bottom left no-repeat;
      background-size: 80%;
    }
  }

  .header-downside .header-downside__intro {
    @include resetSize();
    @include h-spacing();
    width: calc(100% - 90px);
    font: $f_light24;
    color: $c_white;
    text-align: center;
    line-height: 30px;
  }

  .header-downside.index .header-downside__intro {
    @include resetSize();
    @include v-spacing(27px);
    @include h-spacing();
    width: calc(100% - 90px);
    font: $f_light24;
    color: $c_white;
    text-align: center;
    line-height: 30px;
  }
}

@media (min-width: $ff_medium) and (max-width: $ff_until-large) {
  .header-downside {
    margin-top: -111px;
    padding: 180px 0 0;
    min-height: 440px;
    background: url('../../img/bg-back-tablet@1x.jpg') 50% 0% no-repeat $c_darkBlue1;

    @media (min-resolution: 2dppx), (min-resolution: $ratio2_dpi) {
      background: url('../../img/bg-back-tablet@2x.jpg') 50% -1% no-repeat $c_darkBlue1;
      background-size: auto 165%;
    }
  }

  .header-downside.index {
    min-height: 729px;
    margin-top: -110px;
    padding: 162px 0 0px;
    background: url('../../img/bg-back-tablet@1x.jpg') 50% 0% no-repeat $c_darkBlue1;

    @media (min-resolution: 2dppx), (min-resolution: $ratio2_dpi) {
      background: url('../../img/bg-back-tablet@2x.jpg') 50% 0% no-repeat $c_darkBlue1;
      background-size: cover;
    }
  }

  .header-downside__alignment {
    @include h-spacing();
    width: $ff_medium;
  }

  .header-downside.index .header-downside__alignment {
    padding-top: 40px;
    padding-bottom: 112px;
    background: url('../../img/iphone-hand-tablet@1x.png') 50% 100% no-repeat;
    background-size: 106%;

    @media (min-resolution: 2dppx), (min-resolution: $ratio2_dpi) {
      background: url('../../img/iphone-hand-tablet@2x.png') 50% 100% no-repeat;
      background-size: 105%;
    }
  }

  .header-downside .header-downside__intro {
    @include resetSize();
    @include h-spacing();
    width: 80%;
    font: $f_light50;
    color: $c_white;
    text-align: center;
    line-height: 60px;
  }

  .header-downside.index .header-downside__intro {
    @include v-spacing(31px);
    @include h-spacing(73px);
    width: 186px;
    font: $f_light40;
    color: $c_white;
    text-align: center;
    line-height: 48px;
  }
}

@media (min-width: $ff_large) {
  .header-downside {
    min-height: 395px;
    margin-top: -111px;
    padding-top: 175px;
    padding-bottom: 20px;
    background: url('../../img/bg-back-desktop@1x.jpg') 50% 0% no-repeat;

    @media (min-resolution: 2dppx), (min-resolution: $ratio2_dpi) {
      background: url('../../img/bg-back-desktop@2x.jpg') 50% 0% no-repeat;
      background-size: auto 220%;
    }
  }

  .header-downside .header-downside__intro {
    @include resetSize();
    @include h-spacing();
    width: 800px;
    font: $f_light50;
    color: $c_white;
    text-align: center;
    line-height: 60px;
  }

  .header-downside.index {
    min-height: 854px;
    margin-top: -110px;
    padding: 0;
    padding-top: 200px;
    background: url('../../img/bg-back-desktop@1x.jpg') 50% 0% no-repeat;

    @media (min-resolution: 2dppx), (min-resolution: $ratio2_dpi) {
      background: url('../../img/bg-back-desktop@2x.jpg') 50% 0% no-repeat;
      background-size: 213%;
    }
  }

  .header-downside__alignment {
    @include h-spacing();
    width: $align_large-fields;
  }

  .header-downside.index .header-downside__alignment {
    width: 850px;
    padding-bottom: 103px;
    background: url('../../img/iphone-hand-desktop@2x.png') -13% 100% no-repeat;
    background-size: 112%;

    @media (min-resolution: 2dppx), (min-resolution: $ratio2_dpi) {
      background: url('../../img/iphone-hand-desktop@2x.png') -13% 100% no-repeat;
      background-size: 112%;
    }
  }

  .header-downside.index .header-downside__intro {
    @include resetSize();
    @include v-spacing(50px);
    @include h-spacing(30px);
    width: 231px;
    padding-top: 20px;
    font: $f_light50;
    color: $c_white;
    text-align: center;
    line-height: 60px;
  }
}
