@media (max-width: $ff_until-medium) {
  .header-upside__menu {
    @include flex();
    position: relative;
    z-index: 10;
  }

  .header-upside__menu.opened {
    background-color: $c_darkBlue1;
    border-bottom: 1px solid #020203;
    padding: 20px;
    padding-bottom: 27px;
  }

  .header-upside__menu.closed {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
  }

  .header-upside__logo {
    display: block;
    width: 75px;
    height: 22px;
  }

  .header-upside__logo-svg-small {
    display: block;
    width: 75px;
    height: 23px;
    fill: $c_white;
  }

  .header-upside__logo:hover .header-upside__logo-svg-small {
    fill: $c_red;
  }

  .header-upside__logo:active .header-upside__logo-svg-small {
    fill: rgba(255, 255, 255, 0.3);
  }

  .header-upside__logo-svg-medium,
  .header-upside__logo-svg-large {
    display: none;
  }

  .header-upside__nav-btn {
    display: none;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  .header-upside__nav-btn-svg-burger,
  .header-upside__nav-btn-svg-cross {
    display: none;
  }

  .header-upside__nav-btn.opened {
    display: block;
    width: 24px;
    height: 24px;
  }

  .header-upside__nav-btn.closed {
    display: block;
    width: 50px;
    height: 24px;
  }

  .header-upside__nav-btn.opened .header-upside__nav-btn-svg-cross,
  .header-upside__nav-btn.closed .header-upside__nav-btn-svg-burger {
    display: block;
    fill: $c_white;
  }

  .header-upside__nav-btn.opened:hover .header-upside__nav-btn-svg-cross,
  .header-upside__nav-btn.closed:hover .header-upside__nav-btn-svg-burger {
    fill: $c_red;
  }

  .header-upside__nav-btn.opened:active .header-upside__nav-btn-svg-cross,
  .header-upside__nav-btn.closed:active .header-upside__nav-btn-svg-burger {
    fill: $c_red;
    opacity: 30%;
  }

  .header-upside__nav {
    position: relative;
    z-index: 10;
    background-color: $c_darkBlue1;
  }

  .header-upside__nav.opened {
    display: block;
  }

  .header-upside__nav.closed {
    display: none;
  }

  .header-upside__nav-list {
    @include resetSize();
    list-style: none;
  }

  .header-upside__nav-item {
    border-top: 1px solid #475462;
    border-bottom: 1px solid #020203;
    text-align: center;
  }

  .header-upside__nav-link {
    display: block;
    padding: 19px;
    font: $f_bold18;
    color: $c_white;
    text-decoration: none;
    text-transform: uppercase;

    &[href]:hover {
      color: $c_red;
    }

    &[href]:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: $ff_medium) and (max-width: $ff_until-large) {
  .header-upside__menu {
    @include flex(row, space-between, flex-end);
    position: relative;
    z-index: 10;
    padding: 27px 20px 42px;
  }

  .header-upside__menu.opened {
    background-color: $c_darkBlue1;
  }

  .header-upside__menu.closed {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .header-upside__logo {
    display: block;
    width: 147px;
    height: 40px;
  }

  .header-upside__logo-svg-medium {
    width: 147px;
    height: 40px;
    fill: $c_white;
  }

  .header-upside__logo:hover .header-upside__logo-svg-medium {
    fill: $c_red;
  }

  .header-upside__logo:active .header-upside__logo-svg-medium {
    fill: rgba(255, 255, 255, 0.3);
  }

  .header-upside__logo-svg-small,
  .header-upside__logo-svg-large {
    display: none;
  }

  .header-upside__nav-btn {
    display: none;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  .header-upside__nav-btn-svg-cross,
  .header-upside__nav-btn-svg-burger {
    display: none;
  }

  .header-upside__nav-btn.opened .header-upside__nav-btn-svg-cross,
  .header-upside__nav-btn.closed .header-upside__nav-btn-svg-burger {
    display: block;
    fill: $c_white;
  }

  .header-upside__nav-btn.opened:hover .header-upside__nav-btn-svg-cross,
  .header-upside__nav-btn.closed:hover .header-upside__nav-btn-svg-burger {
    fill: $c_red;
  }

  .header-upside__nav-btn.opened:active .header-upside__nav-btn-svg-cross,
  .header-upside__nav-btn.closed:active .header-upside__nav-btn-svg-burger {
    fill: $c_red;
    opacity: 30%;
  }

  .header-upside__nav-btn.opened {
    display: block;
    width: 24px;
    height: 24px;
  }

  .header-upside__nav-btn.closed {
    display: block;
    width: 50px;
    height: 24px;
  }

  .header-upside__nav {
    position: relative;
    z-index: 10;
    background-color: $c_darkBlue1;
  }

  .header-upside__nav.opened {
    display: block;
  }

  .header-upside__nav.closed {
    display: none;
  }

  .header-upside__nav-list {
    @include resetSize();
    list-style: none;
  }

  .header-upside__nav-item {
    border-top: 1px solid #475462;
    border-bottom: 1px solid #020203;
    text-align: center;
  }

  .header-upside__nav-link {
    display: block;
    padding: 19px;
    font: $f_bold18;
    color: $c_white;
    text-decoration: none;
    text-transform: uppercase;

    &[href]:hover {
      color: $c_red;
    }

    &[href]:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: $ff_large) {
  .header-upside {
    position: relative;
    z-index: 10px;
    padding: 0 40px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .header-upside__alignment {
    @include flex(row, space-between, flex-end);
    @include h-spacing();
    max-width: 940px;
    padding: 26px 0 43px;
  }

  .header-upside__menu,
  .header-upside__menu.opened {
    position: relative;
  }

  .header-upside__logo {
    display: block;
    width: 147px;
    height: 40px;
  }

  .header-upside__logo-svg-large {
    width: 147px;
    height: 40px;
    fill: $c_white;
  }

  .header-upside__logo:hover .header-upside__logo-svg-large {
    fill: $c_red;
  }

  .header-upside__logo:active .header-upside__logo-svg-large {
    fill: rgba(255, 255, 255, 0.3);
  }

  .header-upside__logo-svg-small,
  .header-upside__logo-svg-medium {
    display: none;
  }

  .header-upside__nav-btn {
    display: none;
  }

  .header-upside__nav {
    position: relative;
    z-index: 10;
    width: 620px;
    background-color: transparent;
  }

  .header-upside__nav-list {
    @include flex();
    @include resetSize();
    list-style: none;
  }

  .header-upside__nav-item {
    text-align: center;
  }

  .header-upside__nav-link {
    padding: 9px 0;
    font: $f_reg18;
    color: $c_white;
    text-decoration: none;
    line-height: 18px;

    &[href]:hover {
      color: $c_red;
    }

    &[href]:active {
      color: rgba(255, 255, 255, 0.3);
    }

    &:not([href]) {
      color: $c_white;
      border-bottom: 2px solid $c_white;
    }
  }
}
