@media (max-width: $ff_until-medium) {
  .post {
    @include v-spacing(20.5px);
  }

  .post.full-width {
    @include v-spacing(20px);
  }

  .post__link-img {
    position: relative;
    display: block;
    width: 100%;
  }

  .post__mark {
    @include resetSize();
    position: absolute;
    z-index: 10;
    top: 0;
    right: 20px;
    padding: 9px 19px;
    font: $f_bold12;
    color: $c_white;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    background-color: $c_red;
  }

  .post__user-img {
    @include h-spacing();
    display: block;
    width: calc(100% - 40px);
  }

  .post__user-img.panorama {
    display: block;
    width: 100%;
  }

  .post__msg-wrapper {
    @include h-spacing();
    width: calc(100% - 40px);
    padding: 18px 10px 25px 18px;
    background-color: $c_gray;
  }

  .post__username {
    @include resetSize();
    font: $f_bold14;
    color: $c_darkBlue1;
    line-height: 24px;
  }

  .post__time {
    font: $f_light12;
    color: $c_darkBlue1;
    text-transform: uppercase;
  }

  .post__msg {
    @include resetSize();
    @include v-spacing(12px);
    font: $f_light14;
    color: $c_darkBlue1;
    line-height: 24px;
    letter-spacing: 0.3px;
  }

  .post__btn-like {
    @include flex(row, flex-start);
    width: max-content;
  }

  .post__decor-like {
    display: block;
    width: 13px;
    height: 12px;
    fill: $c_red;
  }

  .post__count {
    @include resetSize();
    @include h-spacing(18px);
    font: $f_light12;
    color: $c_red;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }
}

@media (min-width: $ff_medium) and (max-width: $ff_until-large) {
  .post {
    @include v-spacing(22px);
    width: 300px;
  }

  .post.full-width {
    @include v-spacing(50px);
    width: 100%;
    height: auto;
  }

  .post__link-img {
    position: relative;
    display: block;
    width: 100%;
  }

  .post__mark {
    @include resetSize();
    position: absolute;
    z-index: 10;
    top: 0;
    right: 20px;
    padding: 9px 19px;
    font: $f_bold12;
    color: $c_white;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    background-color: $c_red;
  }

  .post.full-width .post__mark {
    top: 57px;
    right: 20px;
  }

  .post__user-img {
    @include h-spacing();
    display: block;
    width: 100%;

    &::before {
      padding-bottom: 100%;
    }
  }

  .post__user-img.panorama {
    display: block;
    width: 100%;
  }

  .post.full-width .post__user-img.panorama {
    width: 100%;
    padding-bottom: auto;
  }

  .post__msg-wrapper {
    @include h-spacing();
    position: relative;
    width: 100%;
    height: auto;
    padding: 25px 32px 23px 27px;
    background-color: $c_gray;
  }

  .post.full-width .post__msg-wrapper {
    position: relative;
    width: calc(100% - 40px);
    height: auto;
    padding: 25px 27px 23px;
  }

  .post__username {
    @include resetSize();
    font: $f_bold14;
    color: $c_darkBlue1;
    line-height: 24px;
  }

  .post__time {
    font: $f_light12;
    color: $c_darkBlue1;
    text-transform: uppercase;
  }

  .post__msg {
    @include resetSize();
    @include v-spacing(16px);
    min-height: 48px;
    font: $f_reg14;
    color: $c_darkBlue1;
    line-height: 24px;
    letter-spacing: 0.05px;
  }

  .post.full-width .post__msg {
    @include resetSize();
    width: 100%;
    min-height: none;
  }

  .post__btn-like {
    @include flex(row-reverse);
  }

  .post.full-width .post__btn-like {
    @include flex();
    position: absolute;
    top: 28px;
    right: 30px;
  }

  .post__decor-like {
    display: block;
    width: 13px;
    height: 12px;
    fill: $c_red;
  }

  .post__count {
    @include resetSize();
    width: 200px;
    font: $f_light12;
    color: $c_red;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }

  .post.full-width .post__count {
    @include h-spacing(15px);
    width: auto;
  }
}

@media (min-width: $ff_large) {
  .post {
    @include v-spacing(53px);
    width: 300px;
  }

  .post.full-width {
    @include v-spacing(50px);
    width: 100%;
    height: auto;
  }

  .post__link-img {
    position: relative;
    display: block;
    width: 100%;
  }

  .post__mark {
    @include resetSize();
    position: absolute;
    z-index: 10;
    top: 0;
    right: 20px;
    padding: 9px 19px;
    font: $f_bold12;
    color: $c_white;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    background-color: $c_red;
  }

  .post.full-width .post__mark {
    top: 54px;
    right: 130px;
  }

  .post__user-img {
    @include h-spacing();
    display: block;
    width: 100%;

    &::before {
      padding-bottom: 100%;
    }
  }

  .post__user-img.panorama {
    display: block;
    width: 100%;
  }

  .post.full-width .post__user-img.panorama {
    width: 100%;
  }

  .post__msg-wrapper {
    @include h-spacing();
    position: relative;
    width: 100%;
    height: auto;
    padding: 25px 31px 26px 27px;
    background-color: $c_gray;
  }

  .post.full-width .post__msg-wrapper {
    position: relative;
    width: $align_large-fields;
    height: auto;
    padding: 23px 27px 25px;
  }

  .post__username {
    @include resetSize();
    font: $f_bold14;
    color: $c_darkBlue1;
    line-height: 24px;
  }

  .post.full-width .post__username {
    @include v-spacing();
  }

  .post__time {
    font: $f_light12;
    color: $c_darkBlue1;
    text-transform: uppercase;
  }

  .post__msg {
    @include resetSize();
    @include v-spacing(16px);
    min-height: 48px;
    font: $f_reg14;
    color: $c_darkBlue1;
    line-height: 24px;
    letter-spacing: 0.01px;
  }

  .post.full-width .post__msg {
    width: 100%;
    min-height: 0;
    margin: 0;
  }

  .post__btn-like {
    @include flex(row-reverse);
  }

  .post.full-width .post__btn-like {
    @include flex(row-reverse);
    position: absolute;
    top: 28px;
    right: 30px;
  }

  .post__decor-like {
    display: block;
    width: 13px;
    height: 12px;
    fill: $c_red;
  }

  .post.full-width .post__decor-like {
    @include h-spacing(18px);
  }

  .post__count {
    @include resetSize();
    width: 200px;
    font: $f_light12;
    color: $c_red;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }

  .post.full-width .post__count {
    width: auto;
  }
}
