@media (max-width: $ff_until-medium) {
  .prices {
    @include v-spacing(41px);
    padding: 90px 0 47px;
    background-color: $c_gray;
    overflow: hidden;
  }

  .prices__table {
    @include v-spacing(41px);
    @include h-spacing(-257px);
    position: relative;
    width: 833px;
    border-collapse: collapse;
  }

  .prices__heading:first-child,
  .prices__option:first-child {
    display: none;
  }

  .prices__heading {
    width: 275px;
    padding: 19px 0 17px;
    background-color: $c_darkBlue1;
    border: 2px solid $c_darkGray1;
  }

  .prices__ttl {
    @include resetSize();
    @include v-spacing(2px);
    font: $f_bold18;
    color: $c_white;
    text-transform: uppercase;
  }

  .prices__price {
    @include resetSize();
    font: $f_light24;
    color: $c_white;
    line-height: 37px;
  }

  .prices__option {
    padding: 14px 22px;
    font: $f_light14;
    color: $c_darkBlue1;
    vertical-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    line-height: 30px;
    background-color: $c_white;
    border: 2px solid $c_darkGray1;
  }

  .prices__option-text {
    @include resetSize();
  }

  .prices__slider-bullets .custom__slider-bullets-input ~ .custom__slider-bullet {
    @include slider-bullet($c_gray);
  }

  .prices__slider-bullets .custom__slider-bullets-input:checked ~ .custom__slider-bullet {
    @include slider-bullet-active($c_gray);
  }
}

@media (min-width: $ff_medium) and (max-width: $ff_until-large) {
  .prices {
    padding: 90px 20px 50px;
    background-color: $c_gray;
  }

  .prices__table {
    @include v-spacing(20px);
    @include h-spacing();
    position: relative;
    width: 100%;
    border-collapse: collapse;
  }

  .prices__heading {
    width: 153px;
    padding: 15px 0 6px;
    background-color: $c_darkBlue1;
    border: 2px solid $c_darkGray1;
    border-top: none;
  }

  .prices__heading.offset {
    background-color: transparent;
    border-left: none;
  }

  .prices__ttl {
    @include resetSize();
    @include v-spacing(-2px)
    font: $f_bold16;
    color: $c_white;
    text-transform: uppercase;
  }

  .prices__price {
    @include resetSize();
    font: $f_light18;
    color: $c_white;
    line-height: 37px;
  }

  .prices__option {
    padding: 15px 14px;
    font: $f_reg14;
    color: $c_darkBlue1;
    vertical-align: center;
    line-height: 14px;
    letter-spacing: 0.1px;
    background-color: $c_white;
    border: 2px solid $c_darkGray1;
  }

  .prices__option-text {
    display: none;
  }

  .prices__slider-bullets {
    display: none;
  }
}

@media (min-width: $ff_large) {
  .prices {
    padding: 149px 0 74px;
    background-color: $c_gray;
  }

  .prices__table {
    @include v-spacing(20px);
    @include h-spacing();
    position: relative;
    width: $align_large-fields;
    border-collapse: collapse;
  }

  .prices__heading {
    width: 233px;
    padding: 20px 0 16px;
    background-color: $c_darkBlue1;
    border: 2px solid $c_darkGray1;
    border-top: none;
  }

  .prices__heading.offset {
    background-color: transparent;
    border-left: none;
  }

  .prices__ttl {
    @include resetSize();
    font: $f_bold18;
    color: $c_white;
    text-transform: uppercase;
  }

  .prices__price {
    @include resetSize();
    font: $f_light24;
    color: $c_white;
    line-height: 37px;
  }

  .prices__option {
    padding: 21px 21px 24px;
    font: $f_reg18;
    color: $c_darkBlue1;
    vertical-align: center;
    line-height: 14px;
    letter-spacing: 0.1px;
    background-color: $c_white;
    border: 2px solid $c_darkGray1;
  }

  .prices__option-text {
    display: none;
  }

  .prices__slider-bullets {
    display: none;
  }
}
