@media (max-width: $ff_until-medium) {
  .research {
    display: none;
  }
}

@media (min-width: $ff_medium) and (max-width: $ff_until-large) {
  .research {
    @include v-spacing(50px);
    padding: 60px 0 0;
  }

  .research__alignment {
    @include flex();
    @include h-spacing();
    position: relative;
    width: $align_medium-fields;
    padding-left: 10px;
    padding-right: 20px;
  }

  .research__timer-wrapper {
    position: relative;
  }

  .research__timer-svg {
    fill: #dedede;
  }

  .research__timer-24 {
    position: absolute;
    z-index: 10;
    top: 54px;
    left: 18px;
    width: 202px;
    height: 202px;
    padding: 15px 33px;
    font: $f_bold96;
    color: $c_red;
    border: 14px solid $c_red;
    border-radius: 50%;
  }

  .research__wrapper {
    width: 300px;
  }

  .research__ttl {
    @include resetSize();
    @include v-spacing(10px);
    width: 170px;
    font: $f_bold30;
    line-height: 36px;
  }

  .research__desc {
    @include resetSize();
    @include v-spacing(12px);
    font: $f_reg14;
    color: $c_darkBlue1;
    line-height: 24px;
  }

  .research__link {
    font: $f_reg14;
    color: $c_red;
  }
}

@media (min-width: $ff_large) {
  .research {
    padding: 48px 0 63px;
    background-color: $c_gray;
  }

  .research__alignment {
    @include flex();
    @include h-spacing();
    flex-wrap: nowrap;
    width: $ff_large;
    padding: 0 11px;
  }

  .research__timer-wrapper {
    position: relative;
    margin-right: 67px;
  }

  .research__timer-svg {
    width: 298px;
    height: 345px;
    fill: #dedede;
  }

  .research__timer-24 {
    position: absolute;
    top: 70px;
    left: 22px;
    width: 253px;
    height: 253px;
    padding: 20px 40px;
    font: $f_bold120;
    color: $c_red;
    border: 17px solid $c_red;
    border-radius: 50%;
  }

  .research__wrapper {
    flex-grow: 1;
    padding-top: 34px;
  }

  .research__ttl {
    @include resetSize();
    @include v-spacing(19px);
    font: $f_bold30;
  }

  .research__desc {
    @include resetSize();
    @include v-spacing(36px);
    padding-right: 20px;
    font: $f_reg18;
    color: $c_darkBlue1;
    line-height: 30px;
  }

  .research__link {
    font: $f_reg18;
    color: $c_red;
  }
}
