@media (max-width: $ff_until-medium) {
  .reviews {
    position: relative;
    z-index: 10;
    padding: 13px 0 42px;
  }

  .reviews__list {
    @include resetSize();
    @include h-spacing();
    width: $align_small-fields;
    list-style: none;
    text-align: center;
  }

  .reviews__fw-btn,
  .reviews__bw-btn {
    display: none;
  }

  .reviews__name {
    @include resetSize();
    @include v-spacing(13px);
    font: $f_bold18;
    line-height: 30px;
  }

  .reviews__about {
    display: none;
  }

  .reviews__text {
    @include resetSize();
    @include v-spacing(33px);
    font: $f_reg14;
    color: $c_darkBlue1;
    line-height: 30px;
    letter-spacing: 0;
  }

  .reviews__slider-bullets .custom__slider-bullets-input ~ .custom__slider-bullet {
    @include slider-bullet($c_darkGray2);

    &:hover {
      @include slider-bullet($c_darkBlue1);
    }

    &:active {
      @include slider-bullet($c_gray);
    }
  }

  .reviews__slider-bullets .custom__slider-bullets-input:checked ~ .custom__slider-bullet {
    @include slider-bullet-active();
  }
}

@media (min-width: $ff_medium) and (max-width: $ff_until-large) {
  .reviews {
    position: static;
    padding: 43px 0 20px;
  }

  .reviews__fw-btn,
  .reviews__bw-btn {
    display: none;
  }

  .reviews__list {
    @include resetSize();
    @include v-spacing(35px);
    @include h-spacing();
    width: $align_medium-fields;
  }

  .reviews__item {
    @include flex(column);
  }

  .reviews__user-wrapper {
    @include h-spacing();
    order: 1;
    width: 100%;
  }

  .reviews__name {
    @include resetSize();
    @include v-spacing(2px);
    font: $f_bold20;
    text-align: center;
    line-height: 30px;
  }

  .reviews__about {
    @include resetSize();
    font: $f_reg14;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 30px;
  }

  .reviews__text {
    @include resetSize();
    @include v-spacing(35px);
    width: 640px;
    font: $f_reg18;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.05px;
  }

  .reviews__slider-bullets .custom__slider-bullets-input ~ .custom__slider-bullet {
    @include slider-bullet($c_darkGray2);

    &:hover {
      @include slider-bullet($c_darkBlue1);
    }

    &:active {
      @include slider-bullet($c_gray);
    }
  }

  .reviews__slider-bullets .custom__slider-bullets-input:checked ~ .custom__slider-bullet {
    @include slider-bullet-active();
  }
}

@media (min-width: $ff_large) {
  .reviews {
    padding: 185px 0 2px;
    background: url("../../img/icon-quotes.svg") no-repeat;
    background-position: 50% 72px;
  }

  .reviews__alignment {
    @include h-spacing();
    position: relative;
    width: $align_large;
  }

  .reviews__list {
    @include resetSize();
    @include v-spacing(40px);
    @include h-spacing();
    padding: 0 100px;
    list-style: none;
  }

  .reviews__item {
    @include flex(column);
  }

  .reviews__bw-btn,
  .reviews__fw-btn {
    position: absolute;
    top: 28px;
    width: 22px;
    height: 41px;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  .reviews__bw-btn {
    left: 10px;
  }

  .reviews__fw-btn {
    right: 10px;
  }

  .reviews__bw-btn-svg,
  .reviews__fw-btn-svg {
    width: 22px;
    height: 41px;
    fill: $c_darkBlue1;
    opacity: 30%;
  }

  .reviews__bw-btn:hover .reviews__bw-btn-svg,
  .reviews__fw-btn:hover .reviews__fw-btn-svg {
    opacity: 60%;
  }

  .reviews__bw-btn:active .reviews__bw-btn-svg,
  .reviews__fw-btn:active .reviews__fw-btn-svg {
    opacity: 10%;
  }

  .reviews__text {
    @include resetSize();
    @include v-spacing(34px);
    width: 760px;
    font: $f_reg18;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.01px;
  }

  .reviews__user-wrapper {
    @include h-spacing();
    order: 1;
  }

  .reviews__name {
    @include resetSize();
    @include v-spacing(3px);
    font: $f_bold24;
    text-align: center;
    line-height: 30px;
  }

  .reviews__about {
    @include resetSize();
    font: $f_reg18;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 30px;
  }

  .reviews__slider-bullets {
    display: none;
  }
}
