.user-posts {
  padding: 45px 0 0;
}

.user-posts__intro {
  width: calc(100% - 70px);
  margin: 0 auto;
  padding: 0;
  font: $f_light14;
  color: $c_darkBlue;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.user-posts__list {
  margin: 0;
  margin-top: 49px;
  padding: 0;
  list-style: none;
}

.user-posts__item:not(:last-child) {
  margin-bottom: 20px;
}

.user-posts__outro {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 40px 0 42px;
  font: $f_light14;
  color: $c_darkBlue;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.3px;
}
