@media (max-width: $ff_until-medium) {
  .user-posts {
    overflow: hidden;
  }

  .user-posts__intro {
    @include resetSize();
    @include h-spacing();
    width: calc(100% - 70px);
    padding: 46px 0 49px;
    max-width: 500px;
    font: $f_reg14;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.05px;
  }

  .user-posts__list {
    @include resetSize();
    list-style: none;
  }

  .user-posts__outro {
    @include resetSize();
    @include h-spacing();
    width: calc(100% - 50px);
    max-width: 500px;
    padding: 20px 0 42px;
    font: $f_reg14;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.05px;
  }
}

@media (min-width: $ff_medium) and (max-width: $ff_until-large) {
  .user-posts {
    overflow: hidden;
  }

  .user-posts__intro {
    @include resetSize();
    @include h-spacing();
    width: calc(100% - 100px);
    padding: 93px 0 76px;
    font: $f_reg18;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.05px;
  }

  .user-posts__list {
    @include flex(row, center, stretch);
    @include resetSize();
    @include h-spacing();
    width: 620px;
    list-style: none;
  }

  .user-posts__item:nth-child(odd) {
    margin-right: 20px;
  }

  .user-posts__outro {
    @include resetSize();
    @include h-spacing();
    width: calc(100% - 40px);
    padding: 48px 0 71px;
    font: $f_reg18;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 28px;
    letter-spacing: 0.01px;
  }
}

@media (min-width: $ff_large) {
  .user-posts__intro {
    @include resetSize();
    @include h-spacing();
    width: 100%;
    max-width: 600px;
    padding: 93px 0 88px;
    font: $f_reg18;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.05px;
  }

  .user-posts__list {
    @include flex(row, space-between, stretch);
    @include resetSize();
    @include h-spacing();
    width: $align_large-fields;
    list-style: none;
  }

  .user-posts__outro {
    @include resetSize();
    @include h-spacing();
    width: calc(100% - 40px);
    padding: 6px 0 66px;
    font: $f_reg18;
    color: $c_darkBlue1;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.05px;
  }
}
