// GLOBAL DOCUMENT | Interactive elements custom styling

// Input Text
.custom-input-text {
  padding: 17px 20px;
  font: $f_reg18;
  color: $c_darkBlue1;
  border: 2px solid $c_darkGray1;
  border-radius: 3px;

  &:hover {
    border-color: $c_darkBlue1;
  }

  &:focus,
  &:active {
    border-color: $c_red;
    outline: none;
  }

  &:disabled {
    color: $c_darkGray2;
    border: 2px solid $c_darkGray2;
  }

  &:invalid {
    box-shadow: 0 0 5px 1px $c_red;
  }
}

// Text Area
.custom-textarea {
  font: $f_reg18;
  color: $c_darkBlue1;
  border: 2px solid $c_darkGray1;
  border-radius: 3px;
  resize: none;

  &:hover {
    border-color: $c_darkBlue1;
  }

  &:focus,
  &:active {
    border-color: $c_red;
    outline: none;
  }

  &:disabled {
    color: $c_darkGray2;
    border: 2px solid $c_darkGray2;
  }
}

// Input checkbox
.custom-checkbox {
  display: block;
  width: 39px;
  height: 39px;
  border: 2px solid $c_darkGray1;
  border-radius: 3px;
  background-color: $c_white;
}

.custom-input[type="checkbox"]:hover ~ .custom-label .custom-checkbox {
  border-color: $c_darkBlue1;
}

.custom-input[type="checkbox"]:focus ~ .custom-label .custom-checkbox,
.custom-input[type="checkbox"]:active ~ .custom-label .custom-checkbox {
  border-color: $c_red;
  outline: none;
}

.custom-input[type="checkbox"]:disabled ~ .custom-label .custom-checkbox {
  border: 2px solid $c_darkGray2;
}

.custom-input[type="checkbox"]:checked ~ .custom-label .custom-checkbox {
  background: url("../../img/icon-yes-checkbox.svg") no-repeat;
  background-position: 50%;
}

// Input radio
.custom-radio {
  display: block;
  width: 39px;
  height: 39px;
  padding: 10px 10px;
  border: 2px solid $c_darkGray1;
  border-radius: 50%;
  background-color: $c_white;
}

.custom-input[type="radio"]:hover ~ .custom-label .custom-radio {
  border-color: $c_darkBlue1;
}

.custom-input[type="radio"]:focus ~ .custom-label .custom-radio,
.custom-input[type="radio"]:active ~ .custom-label .custom-radio {
  border-color: $c_red;
  outline: none;
}

.custom-input[type="radio"]:disabled ~ .custom-label .custom-radio {
  border: 2px solid $c_darkGray2;
}

.custom-input[type="radio"]:checked ~ .custom-label .custom-radio::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: $c_red;
  border-radius: 50%;
}

// Input range
.custom-input-range::-ms-fill-lower {
  appearance: none;
  height: 2px;
  background-color: $c_black;
  border: none;
  border-top: 8px solid $c_gray;
  border-bottom: 8px solid $c_gray;
}

.custom-input-range::-ms-fill-upper {
  appearance: none;
  height: 2px;
  background-color: $c_black;
  border: none;
  border-top: 8px solid $c_gray;
  border-bottom: 8px solid $c_gray;
}

.custom-input-range::-ms-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  margin-top: 2px;
  background-color: $c_white;
  border: 2px solid $c_red;
  border-radius: 50%;

  &:focus {
    outline: none;
    background-color: $c_red;
  }

  &:active {
    background-color: $c_red;
  }
}

.custom-input-range::-ms-track {
  appearance: none;
  height: 0;
  color: transparent;
  background-color: $c_black;
  border: none;
  border-top: 8px solid $c_gray;
  border-bottom: 8px solid $c_gray;
}

.custom-input-range {
  appearance: none;
  padding: 0;
  background-color: transparent;
}

.custom-input-range::-webkit-slider-runnable-track {
  appearance: none;
  height: 2px;
  background-color: $c_black;

  &:focus {
    outline: none;
  }
}

.custom-input-range::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  margin-top: -6px;
  background-color: $c_white;
  border: 2px solid $c_red;
  border-radius: 50%;

  &:focus {
    background-color: $c_red;
    outline: none;
  }

  &:active {
    background-color: $c_red;
  }
}

.custom-input-range::-moz-range-track {
  appearance: none;
  height: 2px;
  padding: 0;
  background-color: $c_black;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

.custom-input-range::-moz-range-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background-color: $c_white;
  border-color: transparent;
  color: transparent;
  border: 2px solid $c_red;
  border-radius: 50%;

  &:focus {
    background-color: $c_red;
    outline: none;
  }

  &:active {
    background-color: $c_red;
  }
}

.custom-input-range::-moz-focus-outer {
  border: none;
}

// Slider
.custom-slider-bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.custom-slider-bullets-item:not(:last-child) {
  margin-right: 19px;
}

// Horizontal line
.custom-hr {
  border: 1px solid $c_darkGray1;
}
