// Technical
@mixin v-spacing($space: 0) {
  margin-bottom: $space;
}

@mixin h-spacing($space-left: auto, $space-right: auto) {
  margin-left: $space-left;
  margin-right: $space-right;
}

@mixin resetSize() {
  margin: 0;
  padding: 0;
}

@mixin flex($dir: row, $jc: space-between, $ai: center, $fw: wrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $fw;
}

// Styling
@mixin btnGrand($color) {
  display: block;
  padding: 15px;
  font: $f_bold18;
  text-align: center;
  text-decoration: none;
  color: $color;
  line-height: 18px;
  background-color: transparent;
  border: 3px solid $color;
  border-radius: 30px;
}

@mixin btnConfirm($background) {
  display: block;
  padding: 20px 0;
  font: $f_bold18;
  color: $c_white;
  text-align: center;
  text-transform: uppercase;
  background-color: $background;
  border: none;
}

@mixin slider-bullet($background) {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #bfc3c8;
  border: 3px solid $background;
  border-radius: 50%;
}

@mixin slider-bullet-active($background) {
  display: block;
  width: 12px;
  height: 12px;
  background-color: $background;
  border: 3px solid $c_darkBlue1;
  border-radius: 50%;
}
