$c_white: #ffffff;
$c_gray: #f2f2f2;
$c_darkBlue: #233343;
$c_red: #d22856;

$f_bold18: 700 18px "Open Sans", sans-serif;
$f_regular18: 400 18px "Open Sans", sans-serif;
$f_light24: 300 24px "Open Sans", sans-serif;
$f_light14: 300 14px "Open Sans", sans-serif;
$f_light12: 100 12px "Open Sans", sans-serif;
